<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card com Tabela Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="form-row">
                    <div class="col-md-4">
                        <select class="form-control" id="filtroFunil">
                            <option value="">Selecione o Funil</option>
                            <option value="funil1">Funil 1</option>
                            <option value="funil2">Funil 2</option>
                        </select>
                    </div>
                    <div class="col-md-4">

                        <select class="form-control" id="filtroFunilUsuario">
                            <option value="">Selecione o Usuário</option>
                            <% users.forEach(user => { %>

                            <option value="<%= user.name %>" id="<%= user.id %>"><%= user.name %></option>

                            <% }) %>
                        </select>

                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="filtroData" placeholder="Selecione o Período">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th colspan="2">Oportunidade Ganha</th>
                            <th colspan="2">Oportunidade Perdida</th>
                            <th>Coluna 5</th>
                            <th>Coluna 6</th>
                            <th>Coluna 7</th>
                            <th>Coluna 8</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Valor 1</td>
                            <td>Valor 2</td>
                            <td>Valor 3</td>
                            <td>Valor 4</td>
                            <td>Valor 5</td>
                            <td>Valor 6</td>
                            <td>Valor 7</td>
                            <td>Valor 8</td>
                        </tr>
                        <!-- Adicione mais linhas conforme necessário -->
                    </tbody>
                </table>
            </div>
            <!-- Footer do Card -->
            <div class="card-footer row">
                <!-- Primeira Coluna -->
                <div class="col-md-6">
                    <p class="float-left">RESUMO DO FUNIL:</p>
                    <p class="float-right">Novas oportunidades: 21 * Taxa de ganhas: 21%</p>
                </div>
                <!-- Segunda Coluna -->
                <div class="col-md-6 text-right">
                    <p>Ganhas: 21 * MRR: R$:2000</p>
                    <p>Perdidas: 10 * MRR: R$:2000</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(function () {
            $('#filtroData').daterangepicker({
                opens: 'left',
                locale: {
                    format: 'DD/MM/YYYY'
                }
            }, function (start, end, label) {
                console.log("Selecionado: " + start.format('DD/MM/YYYY') + ' até ' + end.format(
                    'DD/MM/YYYY'));
                // Aqui você pode adicionar a lógica para filtrar os dados com base nas datas selecionadas
            });
        });
    </script>
    <script>

    </script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>